{% extends 'base.html' %}
{% block content %}

<div class="container py-5">
    <h2 class="text-center mb-4 text-primary">Imagens de Marte</h2>
    <div class="row">
      {% for photo in data %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{{ photo.img_src }}" class="card-img-top" alt="Foto de Marte">
          <div class="card-body">
            <h5 class="card-title">Rover</h5>
            <p class="card-text">
              Data: {{ photo.earth_date }}<br>
              Sol: {{ photo.sol }}<br>
              Câmera: 
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}