{% extends 'base.html' %}
{% block content %}
<body class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        
                        <h1 class="display-4 text-primary mb-4">Leonardoo</h1>
                        <p class="lead mb-4">Nasa!</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a href="{{url_for('games')}}" class="btn btn-primary btn-lg">Ver Jogos</a>
                            <a href="{{url_for('marte')}}" class="btn btn-outline-primary btn-lg">Cadastrar Novo Jogo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

{% endblock content %}