@font-face {
    font-family: '13_Misa';
    src: url('../fonts/13misa/13_Misa.TTF') format('truetype');

  }
  
  .title-page{
    color: #d07001;
    font-size: 3rem;
    font-family: '13_Misa';
}

.subtitle-page{
    color: #54360f;
}

/* Fundo da navbar */
.navbar {
    background: #fefefe; /* Azul escuro espacial */
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Ajuste para o logo não empurrar a navbar */
.logo {
    height: auto;
    width: 150px;
    position: absolute;
    margin-right: 20px;
}

/* Estilização do título ao lado do logo */
.title {
    font-size: 1.5rem;
    font-weight:lighter;
    color: #353442;
    margin-left: 120%;
}

.title-s {
    font-weight: bold;
    color: #000000;
}

/* Estilo dos links */
.navbar-nav .nav-link {
    color: #000000;
    font-size: 1.2rem;
    padding: 8px 15px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* Sublinhado azul ao passar o mouse */
.navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ecb309;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover {
    color: #ae6300;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    .navbar {
        padding: 15px;
    }
    .title {
        font-size: 1.2rem;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}



.camera-btn.active {
    font-weight: 700;
  }
  .card-img-top {
    object-fit: cover;
    height: 220px;
  }

.texto-btn{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #414141;
    /* font-weight: 500; */
}

.pagination .page-item.active .page-link {
    background-color: #d07001; /* Cor de fundo */
    border-color: #d07001; /* Cor da borda */
    color: white; /* Cor do texto */
}

.pagination .page-link {
    color: #d07001; /* Cor do texto */
    
}

.pagination .page-link:hover {
    background-color: #4e4c49; /* Cor ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
}
.pagination .page-link:focus {
    box-shadow: none;
}

.bloco-1-1{
    background-color: #000000;
    width: 400px;
    height: 200px;
}

.secao1{
    display: flex;
    justify-content: space-around;
}