{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1 class="text-center mt-5 mb-5 title-page text-warning">Exoplanetas Descobertos</h1>
    
    <div class="row g-4 mt-5">
        {% for planet in data %}
        <div class="col-md-4">
            <div class="card exoplanet-card">
                <div class="card-body">
                    <h5 class="card-title">{{ planet.pl_name }}</h5>
                    <p class="card-text"><strong>Ano da Descoberta:</strong> {{ planet.disc_year or 'N/A' }}</p>
                    <p class="card-text"><strong>Massa:</strong> {{ planet.pl_bmasse or 'N/A' }} M⊕</p>
                    <p class="card-text"><strong>Raio:</strong> {{ planet.pl_rade or 'N/A' }} R⊕</p>
                    <p class="card-text"><strong>Distância:</strong> {{ planet.sy_dist or 'N/A' }} anos-luz</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-5">
        {% if current_page > 1 %}
            <a href="?page={{ current_page - 1 }}" class="pagination-btn">❮</a>
        {% endif %}

        <span class="pagination-text">Página {{ current_page }} de {{ total_pages }}</span>

        {% if current_page < total_pages %}
            <a href="?page={{ current_page + 1 }}" class="pagination-btn">❯</a>
        {% endif %}
    </div>
</div>

{% endblock content %}
